/* Colors 
rgb(9,22,2) Black
rgb(88,101,58) Dark Olive Green
rgb(159,143,135) Light Brown
rgb(224,213,213) Cream
rgb(246,201,110) Yellow
*/


body {
    margin: 2vw;
    display: flex;
    justify-content: center;
    background-color:rgba(253,201,48, 0.2);
}

table {
    width: 100%;
    text-align: center;
    margin-top: 3vh;
    border: 4px solid rgb(88,101,58);
    padding: 2vw;
    clear: both;
    background-color: rgb(224,213,213);
}
button {
    font-size: 28px;
    border-radius: 12px;
    width: 100px;
    height: 100px;
    border: 1px dashed rgb(24,51,16);
    color: rgb(9,22,2);
    text-align: center;
    clear: both;
    display: inline-block;
    outline: none;
}
                                                                        
.green {
    background-color: green;
}
.red {
    background-color: red;
}

button:hover {
    background-color: rgb(246,201,110);
    color: white;
}
button:disabled {
    background-color: rgb(159,143,135);
    color: rgb(159,143,135);
}
th {
    font-size: 24px;
    background-color: rgb(88,101,58);
    border-radius: 3vw;
    border: rgb(9,22,2) 2px solid;
    color: white;
}
td {
    padding: 2vw;
}

#activeQuestion p:hover {
    color: lightsteelblue;
    cursor: pointer;
}
#levelDisplay {
    float: left;
}
#scoreDisplay {
    float: right;
} 
#gameOverButtons {
    display: flex;
}
#gameOverButtons button{
    margin: 2vw;
}
.levelDisplayClass {
    margin: auto;
    text-align: center;
    border: 4px solid rgb(88,101,58);
    padding: 2vw;
    background-color: rgba(253,201,48, 0.2);
    color: rgb(9,22,2);
}
form {
    clear: both;
    width: 70%;
    margin: auto;
}

.hidden {
    display: none;
    border: none;
    background-color: white;
}
/* Mobile */
@media screen and (min-width: 300px) {
    table {
        text-align: center;
        height: 175px;
    }
    button {
        text-align: center;
    }
}