.hidden {
    display: none;
}

@media screen and (min-width: 300px) {
    table {
        text-align: center;
        height: 175px;
    }
}

@media screen and (min-width: 600px) {
    table {
        width: 50%;
        text-align: center;
        height: 200px;
    }
}

button {
    font-size: 20px;
    border-radius: 12px;
    width: 100px;
    }

.buttonA {
    font-size: 20px;
    border-radius: 12px;
    width: 100px;
    }

button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}
button:disabled {
    background-color: gray;
    color: gray;
}

#activeQuestion p:hover {
       color: lightsteelblue;
       cursor: pointer;
}