#home {
    color: rgb(254, 203, 7);
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vw;
    margin-bottom: 0;
}
#rules h2 {
    background-color: rgb(24,51,16);
    color: white;
    text-align: center;
    padding: 1.5vw;
    border-top: 2px solid rgb(253,201,48);
    border-bottom: 2px solid rgb(253,201,48);
    margin-bottom: 0;
}
#rules ul {
    list-style-type: none;
    background-color: rgba(253,201,48, 0.2);
    padding: 2vw;
    margin: 2vw;
}
#rules li {
    padding: 1vw;
    margin: 1vw;
}
#userInfo {
    display: flex;
    justify-content: space-around;
    margin: 2vw;
    padding: 2vw;
    background-color: rgba(253,201,48, 0.2);
}
#userInfo button {
    margin-right: 6vw;
    background-color: rgb(253,201,48);
    border:  1px solid rgb(24,51,16);
    
}


/* Mobile layout */
@media screen and (max-width: 400px) {
    #rules h2 {
        background-color: rgb(24,51,16);
        color: white;
        text-align: center;
        padding: 1.5vw;
        border-top: 2px solid rgb(253,201,48);
        border-bottom: 2px solid rgb(253,201,48);
        margin-bottom: 0;
    }
    #rules ul {
        list-style-type: none;
        background-color: rgba(253,201,48, 0.2);
        padding: 2vw;
        margin: 2vw;
    }
    #rules li {
        padding: 1vw;
        margin: 1vw;
    }
    #userInfo {
        display: flex;
        justify-content: space-around;
        margin: 2vw;
        padding: 2vw;
        background-color: rgba(253,201,48, 0.2);
    }
    #userInfo button {
        margin-right: 6vw;
        background-color: rgb(253,201,48);
        border:  1px solid rgb(24,51,16);
        
    }
}